<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">root1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/TpIntegrador?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        
        <mapping class="entidades.Cliente"/>
        <mapping class="entidades.Especialidad"/>
       	<mapping class="entidades.Tecnico"/>
       	<mapping class="entidades.Operador"/>
        <mapping class="entidades.Incidente"/>
    </session-factory>
</hibernate-configuration>